{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="border: none">
                <div class="card-body">
                    <h2 class="mb-4">Password Set!</h2>
                    <h4>You're password has been set.</h4>
                    <h5>You can <a href="{% url 'mysite:login' %}">Log in now</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}