{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style=" border: none">
                <div class="card-body">
                    <h2 class="mb-4">Reset your password</h2>
                    <h5>We've emailed you the instructions to set your new password.</h5>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}