{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="border: none">
                <div class="card-body">
                    <h2 class="mb-4">Change your password</h2>
                    <h4>You're password has been successfully changed</h4>
                    <div class="mt-3">
                        <a href="{% url 'Swimapp:edit' %}" style="color: black">Back to profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}